* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.carousel {
    position: relative;
}

.arrow {
    position: absolute;
    font-size: 30px;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    z-index: 100;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow-top {
    top: 10px;
}

.arrow-bottom {
    bottom: 10px;
}

.img-item {
    max-width: 100%;  
    display: none;
    aspect-ratio: 21/9;
    object-fit: cover;
}

.img-item.active {
    display: block;
}
